@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
body{
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main div h1{
    font-size: 4em;
    margin-bottom: 10px;
}

span{
    font-size: 4em;
    margin-bottom: 30px;
}


.btn{
    width: 100px;
    height: 50px;
    font-size: 1em;
    background-color: #fff;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10px;
}